.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  min-height: 55px;
  padding: 5px 25px;

  color: #ffffff;

  background-color: #ff4e2e;
  border: none;
  
  cursor: pointer;
}

@media (min-width: 1024px) {
  .button {
    width: 320px;
    min-height: 68px;

    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .button {
    width: 270px;
    min-height: 60px;
  }
}

.button:focus,
.button:hover {
  background-color: #fc557c;
}