.footer {
  background-color: #fff;
} 

.footer__container {
  display: grid;
  grid-template-areas:  "footer-menu"
                        "contacts"
                        "callback-button"
                        "socials";
grid-template-columns: 1fr;
grid-template-rows: repeat(4, auto);

  margin: 0 20px;
  padding-top: 46px;
  padding-bottom: 50px;
}

.footer__menu {
  grid-area: footer-menu;

  margin-bottom: 43px;
}

.footer__contacts {
  grid-area: contacts;

  margin: 0 0 24px;
}

.footer__callback-button {
  grid-area: callback-button;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 55px;
  margin: 0 auto 49px; 
  padding: 5px 25px;

  border: none;
  background: none;
  
  background-color: #ff4e2e;
  color: #ffffff;
  cursor: pointer;
}

.footer__callback-button:focus,
.footer__callback-button:hover {
  background-color: #fc557c;
}

.footer__socials {
  grid-area: socials;

  margin: 0;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 19px 0;

  background-color: #31293c;
  font-size: 12px;
  color: #fff;
}