.footer {
  background-color: #fff;
} 

.footer__container {
  display: grid;
  grid-template-areas:  "footer-menu"
                        "contacts"
                        "callback-button"
                        "socials";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);

  margin: 0 20px;
  padding-top: 46px;
  padding-bottom: 50px;
}

@media (min-width:480px) {
  .footer__container {
    grid-template-areas:  "footer-menu contacts"
                          "callback-button callback-button"
                          "socials socials";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (min-width: 768px) {
  .footer__container {
    grid-template-areas:  "footer-menu contacts callback-button"
                          "footer-menu contacts socials";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;

    margin: 0 40px;
    padding-top: 106px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1210px) {
.footer__container {
  margin: 0 auto;
  padding-top: 84px;
}
}

.footer__menu {
  grid-area: footer-menu;

  margin-bottom: 43px;
}

@media (min-width: 768px) {
  .footer__menu {
    margin-bottom: 0;
  }
}

.footer__contacts {
  grid-area: contacts;

  margin: 0 0 24px;
}

@media (min-width: 768px) {
  .footer__contacts {
    margin: 0;
  }
}

.footer__callback-button {
  grid-area: callback-button;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 55px;
  margin: 0 auto 49px; 
  padding: 5px 25px;

  color: #ffffff;

  border: none;
  background: none;
  background-color: #ff4e2e;

  cursor: pointer;
}

@media (min-width: 768px) {
  .footer__callback-button {
    min-width: 248px;
    min-height: 45px;
    margin: 0 0 24px;

    color: #ff6375;

    border: 1px solid #ff5e79;
    background-color: #fff;

  }
}

.footer__callback-button:focus,
.footer__callback-button:hover {
  background-color: #fc557c;
}

@media (min-width: 768px) {
  .footer__callback-button:focus,
  .footer__callback-button:hover {
    color: #fff;

    background-color: #fc557c;
}
}

.footer__socials {
  grid-area: socials;

  margin: 0;
}

@media (min-width: 480px) {
  .footer__socials {
    justify-self: center;
  }
}

@media (min-width: 768px) {
  .footer__socials {
    justify-self: initial;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 19px 0;

  background-color: #31293c;
  font-size: 12px;
  color: #fff;
}

@media (min-width: 768px) {
  .footer__copyright {
    padding: 30px 0;

    font-size: 16px;
  }
}