.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-top: 19px;
  padding-bottom: 19px;
}

@media (min-width: 768px) {
  .header{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1230px) {
  .header {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.header__menu-button {
  margin-left: 12px;
}

@media (min-width: 768px) {
  .header__menu-button {
    margin-left: 40px;
  }
}

.header__menu {
  display: none;
}

@media (min-width: 1024px) {
  .header__menu {
    display: block;
  }
}

.header__phone {
  display: block;

  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 560px) {
  .header__phone {
    margin-right: 30px;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .header__phone {
    font-size: 25px;
  }
}

.header__phone:focus,
.header__phone:hover {
  color: #fc557c;
}

.header__call-back-button {
  margin-right: 13px;
}

@media (min-width: 768px) {
  .header__call-back-button {
    margin-right: 40px;
  }
}

@media (min-width: 1024px) {
  .header__call-back-button {
    margin-right: 0;
  }
}