.my-projects-section {
  padding-top: 51px;
  padding-bottom: 51px;

  background-color: #fbfbfb;
}

@media (min-width: 768px) {
  .my-projects-section {
    padding-top: 88px;
    padding-bottom: 102px;
  }
}

.my-projects-section__heading {
  margin: 0 auto 44px;
  padding: 0 20px;

  font-weight: 900;
  font-size: 30px;
  color: #1f1f24;

  text-align: center;
}

@media (min-width: 768px) {
  .my-projects-section__heading {
    margin: 0 auto 99px;

    font-size: 54px;
  }
}

@media (min-width: 1280px) {
  .my-projects-section__heading {
    margin: 0 auto 104px;
  }
}

.my-projects-section__slider {
  margin: 0 auto 47px;
}

@media (min-width: 1024px) {
  .my-projects-section__slider {
    margin: 0 auto 97px;
  }
}

.my-projects-section__button {
  margin: 0 auto;
}