.my-projects-section {
  background-color: #fbfbfb;
}

.my-projects-section__heading {
  margin: 0 30px 46px 30px;

  font-weight: 900;
  font-size: 30px;
  color: #1f1f24;
  text-align: center;
}

.my-projects-section__slider {
  margin-bottom: 50px;
}

.my-projects-section__button {
  margin: 0 auto 54px;
}