.pagination {
  display: flex;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.pagination__list-item:not(:last-of-type) {
  margin-right: 15px;
}

@media (min-width: 1024px) {
  .pagination__list-item:not(:last-of-type) {
    margin-right: 29px;
  }
}

.pagination__button {
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ebebeb;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

@media (min-width: 1024px) {
  .pagination__button{
    width: 18px;
    height: 18px;
  }
}

.pagination__button_active {
  background-color: #ff4e2e;
}