.price-section {
  padding: 50px 20px;
  background: linear-gradient(#ff2f96, #ff8f5a);
}

.description {
  padding: 0;
  margin: 0 0 47px 0;

  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
}

.sub-description {
  padding: 0 0 0 10px;
  margin: 0;

  text-indent: -10px;
  color: #ffffff;
}

.sub-description > small {
  font-size: 15px;
  line-height: 30px;
}

.fly-tag {
  display: none;
}