.services {
  display: grid;
  grid-template-areas:  "pages"
                        "adaptiv"
                        "frontend"
                        "coding";
  grid-template-columns: 220px;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;

  padding: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .services {
    grid-template-areas:  "pages adaptiv"
                          "frontend coding";
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px 125px;
  }
}

@media (min-width: 1210px) {
  .services {
    width: 100%;
    grid-template-areas:  "pages adaptiv frontend coding";
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 1fr;
    gap: initial;
    justify-content: space-between;
  }
}

.services__item {
  padding-top: 69px;

  line-height: 24px;
  color: #8993ad;

  text-align: center;

  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 0;
}

@media (min-width: 768px) {
  .services__item {
    padding-top: 88px;

    font-size: 20px;
    line-height: 30px;

    background-size: 74px auto;
  }
}

.services__item_pages {
  grid-area: pages;

  background-image: url(../img/services__item_pages.png);
}

.services__item_adaptiv {
  grid-area: adaptiv;

  background-image: url(../img/services__item_adaptiv.png);
}

.services__item_frontend {
  grid-area: frontend;

  background-image: url(../img/services__item_frontend.png);
}

.services__item_coding {
  grid-area: coding;

  background-image: url(../img/services__item_coding.png);
}