.slider {
  position: relative;
}

.slider__list {
  display: flex;
  justify-content: center;

  margin: 0 auto 40px;
  padding: 0;

  list-style: none;
}

@media (min-width: 620px) {
  .slider__list {
    justify-content: space-between;

    width: 580px; /* 2 маленьких слайда */
  }
}


@media (min-width: 1024px) {
  .slider__list {
    width: 948px; /* 2 средних слайда */
    margin: 0 auto 101px;
  }
}

@media (min-width: 1280px) {
  .slider__list {
    width: 1170px; /* 3 больших слайда */
    margin: 0 auto;
  }
}

.slider__list-item {
  display: none;
}

/* !Вот это всё временно, пока не напишем нормальный слайдер*/
.slider__list-item:nth-of-type(1) {
  display: block;
}

@media (min-width: 620px) {
  .slider__list-item:nth-of-type(2) {
    display: block;
  }
}

@media (min-width: 1280px) {
  .slider__list-item:nth-of-type(3) {
    display: block;
  }
}

/* .slider__list-item_active {
  display: block;
} */

/* !до сюда */

.slider__link {

}

.slider__item {
  width: fit-content;
  margin: 0 auto;

}

.slider__image {
  display: block;
  width: 282px;
  height: 251px;
  margin-bottom: 17px;

  object-fit: cover;
  object-position: center top;
}

@media (min-width: 1024px) {
  .slider__image {
    width: 456px;
    height: 359px;
    margin-bottom: 22px;
  }
}

@media (min-width: 1280px) {
  .slider__image {
    width: 370px;
    height: 290px;
    margin-bottom: 34px;
  }
}

.slider__description {
  font-weight: 500;
  font-size: 18px;
  color: #8993ad;

  text-align: center;
}

@media (min-width: 1024px) {
  .slider__description {
    font-size: 25px;
  }
}

@media (min-width: 1280px) {
  .slider__description {
    font-size: 20px;
  }
}

.slider__button {
  position: absolute;
  top: 119px;
  /* transform: translate(50%, 50%); */

  display: none;

  width: 60px;
  height: 60px;

  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 24px;

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

  cursor: pointer;
}

@media (min-width: 1280px) {
  .slider__button {
    display: block;
  }
}

.slider__button_prev {
  left: -30px;

  background-image: url(../img/slider__button_prev.png);
}

.slider__button_next {
  right: -30px;

  background-image: url(../img/slider__button_next.png);
}

.slider__pagination {
  margin: 0;
}

@media (min-width: 1280px) {
  .slider__pagination {
    display: none !important;
  }
}