.slider {
  
}

.slider__list {
  margin: 0 0 40px;
  padding: 0;

  list-style: none;
}

.slider__list-item {
  display: none;
}

.slider__list-item_active {
  display: block;
}

.slider__link {

}

.slider__item {
  width: fit-content;
  margin: 0 auto;

}

.slider__image {
  display: block;
  width: 282px;
  height: 251px;
  margin-bottom: 17px;

  object-fit: cover;
  object-position: center top;
}

.slider__description {
  font-weight: 500;
  font-size: 18px;
  color: #8993ad;

  text-align: center;
}

.slider__prev-button {
  display: none;
}

.slider__next-button {
  display: none;
}

.slider__pagination {
  margin: 0;
}