.what-i-do-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 43px;
  padding-bottom: 43px;
}

@media (min-width: 1024px) {
  .what-i-do-section {
    padding-top: 97px;
  }
}

.what-i-do-section__heading {
  margin: 0 auto 46px;
  padding: 0 20px;

  font-weight: 900;
  font-size: 30px;
  color: #1f1f24;

  text-align: center;
}

@media (min-width: 1024px) {
  .what-i-do-section__heading {
    margin: 0 auto 93px;

    font-weight: 700;
    font-size: 54px;
    color: #262626;
  }
}

.what-i-do-section__services {
  margin: 0 auto 63px;
}

@media (min-width: 1024px) {
  .what-i-do-section__services {
    margin: 0 auto 97px;
  }
}

@media (min-width: 1920px) {
  .what-i-do-section__services {
    margin: 0 auto 95px;
  }
}

.what-i-do-section__button {
  margin: 0 auto;
}