.what-i-do-section {

}

.what-i-do-section__heading {
  margin: 0 30px 46px 30px;

  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: #1f1f24;
}

.what-i-do-section__services {
  margin: 0 30px 50px 30px;
}

.what-i-do-section__button {
  
}