.button {
  --text-color: var(--accent-button-color);
  --background-color: var(--primary-button-color);
  --focus-color: var(--focus-button-color);
  --hover-color: var(--hover-button-color);

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 55px;
  padding: 5px 25px;

  color: var(--text-color);

  background-color: var(--background-color);
  border: none;
  
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;

  @include tablet-ipad {
    min-width: 320px;
    min-height: 68px;

    font-size: 18px;
  }

  @include desktop {
    min-width: 270px;
    min-height: 60px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--text-color), 0 0 0 4px var(--focus-color);
  }

  &:hover {
    background-color: var(--hover-color);
  }
}

/*----- Header ------*/

.button--header {
  width: 40px;
  height: 40px;
  min-width: auto;
  min-height: auto;
  padding: 0;

  border: none;
  border-radius: 50%;
  background: none;

  &:focus,
  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  
  @include tablet {
    --text-color: var(--secondary-button-color);
    --border-color: var(--primary-button-color);

    width: auto;
    height: auto;
    min-width: 207px;
    min-height: 45px;
    padding: 5px 25px;
    
    font-size: 16px;
    
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: initial;
    
    &:hover {
      --text-color: var(--accent-button-color);
      --background-color: var(--primary-button-color);

      color: var(--text-color);
      background-color: var(--background-color);
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--primary-background-color), 0 0 0 4px var(--focus-color);
    }
  }
}

.button--header .button__icon {
  &--mobile {
    width: 26px;
    height: 26px;

    @include tablet {
      display: none;
    }
  }
}

.button--header .button__icon-symbol {
  fill: url('#gradient-vertical');
  stroke: url('#gradient-vertical');
}

.button--header .button__text {
  &--tablet {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

/*----- Footer -----*/

.button--footer {

  @include tablet {
    --text-color: var(--secondary-button-color);
    --border-color: var(--primary-button-color);

    min-width: 248px;
    min-height: 45px;
    margin: 0 0 24px;

    color: var(--text-color);

    border: 1px solid var(--border-color);
    background: none;
  }

  &:focus {

    @include tablet {
      box-shadow: 0 0 0 2px var(--secondary-backgound-color),0 0 0 4px var(--focus-color);
    }
  }

  &:hover {

    @include tablet {
      --text-color: var(--accent-button-color);
      --background-color: var(--primary-button-color);

      color: var(--text-color);

      background-color: var(--background-color);
    }
  }
}