.checkbox {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 2em;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.429;
  color: var(--primary-text-color);
}

.checkbox__box {
  position: absolute;

  display: block;
  width: 1.429em;
  height: 1.429em;
  margin-left: -2em;

  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1" y="1" width="18" height="18" rx="3" fill="none" stroke="%23A0A8C5" stroke-width="2"/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  border-radius: 0.2857em;
  transition: 0.2s;
}

.checkbox__input:checked + .checkbox__box {
  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1" y="1" width="18" height="18" rx="3" fill="%23ff4e2e" stroke="%23ff4e2e" stroke-width="2"/%3E%3Cpath d="M5.5 10.5L8 13L13.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
}

.checkbox__input:focus + .checkbox__box {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-background-color),
              0 0 0 4px var(--hover-link-color);
}

.checkbox__input:disabled + .checkbox__box,
.checkbox__input:disabled ~ .checkbox__text {
  opacity: 0.5;
}