.contacts {
  padding: 0;

  font-size: 20px;
  list-style: none;

  @include tablet {
    font-size: 25px;
  }
}

.contacts__list-item {

  &:not(:last-of-type) {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 36px;
    }
  }
}

.contacts__link {
  padding-left: 32px;

  color: inherit;

  background-repeat: no-repeat;
  background-position: 0 50%;

  @include tablet {
    padding-left: 37px;

    color: var(--primary-text-color);
  }

  &--phone {
    background-image: url('../img/phone-icon.svg');
    background-size: 13px auto;

    @include tablet {
      background-size: 18px auto;
    }
  }

  &--email {
    background-image: url('../img/email-icon.svg');
    background-size: 14px auto;

    @include tablet {
      background-size: 23px auto;
    }
  }
}
