.form {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.form__input {
  margin-bottom: 20px;
  padding: 10px;

  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-text-color);
  transition: box-shadow 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-background-color), 0 0 0 4px var(--focus-link-color);
  }

  &::placeholder {
    color: var(--secondary-text-color);
  }
}

.form__label {
  margin-bottom: 4px;

  color: var(--primary-text-color);
}

.form__checkbox {
  margin-bottom: 4px;
}

.form__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.form__submit {
  min-width: auto;
  margin-bottom: 16px;
}

.form__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;

  color: var(--secondary-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: box-shadow 0.3s;

  &:hover {
    color: var(--hover-link-color);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-link-color);
  }
}

.form__link {
  text-decoration: underline;
}