.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;

  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;

  transition: box-shadow 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-background-color), 0 0 0 4px var(--focus-button-color);
  }

  @include tablet {
    width: 45px;
    height: 45px;
  }
}

.menu-button__icon {
  width: 24px;
  height: 18px;

  @include tablet {
    width: 45px;
    height: 32px;
  }
}

.menu-button__icon-symbol {
  stroke: url('#gradient-vertical');
}

.menu-button--open .menu-button__icon-symbol--close,
.menu-button__icon-symbol--menu {
  display: block;
}

.menu-button--open .menu-button__icon-symbol--menu,
.menu-button__icon-symbol--close {
  display: none;
}