.my-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-projects-section__slider {
  margin-bottom: 38px;
  
  @include min-width(1024px) {
    margin-bottom: 89px;
  }
}