.my-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-projects-section__slider {
  margin-bottom: 48px;
  
  @include min-width(1024px) {
    margin-bottom: 99px;
  }
}