.navigation {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;

  height: 100vh;
  padding-top: 20px;
  
  background-color: transparent;

  pointer-events: none;

  @include tablet {
    row-gap: 30px;

    padding-top: 30px;
  }

  @include min-width(1025px) {
    display: block;
    height: auto;

    padding-top: 0;

    pointer-events: initial;
  }
}

.navigation__menu-button{
  justify-self: start;
  margin-left: 12px;

  pointer-events: initial;

  @include tablet {
    margin-left: 40px;
  }

  @include min-width(1025px) {
    display: none;
  }
}