.section {
  padding-top: 43px;
  padding-bottom: 50px;

  scroll-snap-align: start;

  @include tablet {
    padding-top: 102px;
    padding-bottom: 102px;
  }
}

.section__title {
  margin: 0 auto 45px;
  padding: 0 20px;

  font-weight: 900;
  font-size: 30px;
  color: var(--primary-text-color);
  line-height: 35px;

  text-align: center;

  @include tablet {
    margin: 0 auto 101px;

    font-weight: 700;
    font-size: 54px;
  }

  @include desktop {
    margin: 0 auto 104px;
  }
}
