.top-section {
  background-color: var(--secondary-backgound-color);

  @include phone {
    background-image: url('../img/top-background_tablet.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 300px;
    background-color: var(--primary-background-color);
  }

  @include tablet {
    background-size: auto 525px;
  }
  
  @include desktop {
    background-image: url('../img/top-background_desktop.svg');
    background-size: auto 630px;
  }
}

.top-section__container {
  position: relative;

  display: grid;
  grid-template-areas:  "photo"
                        "heading"
                        "button";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  
  @include phone {
    grid-template-areas:  "heading photo"
                          "button photo";
    grid-template-columns: 1fr minmax(auto, 450px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 33px;
    
    min-height: 310px;
  }
  
  @include tablet {
    grid-template-rows: 1fr 296px;
    row-gap: 48px;

    min-height: 663px;
  }

  @include tablet-ipad {
    grid-template-columns: 1fr minmax(auto, 480px);
  }

  @include min-max-width(560px, 767px) {
    margin: 0 20px;
  }

  @include min-max-width(768px, 1024px) {
    margin: 0 40px;
  }

  @include min-max-width(1025px, 1210px) {
    margin: 0 20px;
  }
}

.top-section__picture {
  z-index: 2;

  grid-area: photo;
  justify-self: end;
  align-self: end;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  min-height: 390px;

  background-image: url('../img/top-background_mobile.svg');
  background-position: bottom -40px right -44px;
  background-repeat: no-repeat;
  background-size: auto 334px;
  background-color: var(--primary-background-color);

  @include phone {
    display: block;
    width: auto;
    min-height: auto;

    background: none;
  }

  @include tablet {
    filter: drop-shadow(30px 0 30px rgba(0, 0, 0, 0.25));
  }

  @include min-width(1510px) {
    margin-right: -100px;
  }
}

.top-section__image {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: 20px;

  @include min-width(400px) {
    margin-right: auto;
  }

  @include phone {
    width: 100%;
    margin: 0;
  }
}

.top-section__title {
  z-index: 4;

  grid-area: heading;

  margin-top: 16px;
  margin-bottom: 33px;
  padding: 0 20px;

  font-weight: 900;
  font-size: 30px;
  color: var(--primary-text-color);

  text-align: center;

  @include phone {
    align-self: end;
    margin: 0;
    padding: 0;
  }
  
  @include tablet {
    font-size: 54px;
    text-align: start;
  }

  @include desktop {
    font-size: 80px;
  }
}

.top-section__subtitle {
  display: block;
  margin-top: 17px;

  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: center;

  @include phone {
    margin-top: 26px;
  }

  @include tablet {
    font-size: 25px;
    text-align: start;
  }
}

.top-section__button {
  z-index: 4;

  grid-area: button;
  justify-self: center;

  @include phone {
    align-self: start;
  }
  
  @include tablet {
    justify-self: start;
  }
}

.top-section__fly-tags {
  z-index: 1;

  animation-name: changeZindex;
  animation-duration: 0.1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}