.what-i-do-section {
  background-color: var(--secondary-backgound-color);
}

.what-i-do-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-i-do-section__services {
  margin-bottom: 51px;

  @include tablet {
    margin-bottom: 93px;
  }

  @include desktop {
    margin-bottom: 89px;
  }
}
