html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--primary-background-color);
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1;
  color: var(--secondary-text-color);
  overflow-anchor: none;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}