.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 55px;
  padding: 5px 25px;

  color: $button-text-color-1;

  background-color: $button-background-color-1;
  border: none;
  
  cursor: pointer;

  @include tablet-ipad {
    min-width: 320px;
    min-height: 68px;

    font-size: 18px;
  }

  @include desktop {
    min-width: 270px;
    min-height: 60px;
  }

  &:focus,
  &:hover {
    background-color: lighten($button-background-color-1, 10%);
  }
}

.button_header {
  width: 40px;
  height: 40px;
  min-width: auto;
  min-height: auto;
  padding: 0; 

  border: none;
  background: none;

  // TODO сделать ховер

  @include tablet {
    width: auto;
    height: auto;
    min-width: 207px;
    min-height: 45px;
    padding: 5px 25px;

    font-size: 16px;

    color: $button-text-color-2;
    border: 1px solid $button-background-color-1;

    &:focus,
    &:hover {
      color: $button-text-color-1;
      background-color: $button-background-color-1;
    }
  }
}

.button_header .button__icon {
  
  &_mobile {
    width: 26px;
    height: 26px;

    @include tablet {
      display: none;
    }
  }
}

.button_header .button__text {
    
  &_tablet {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.button_footer {
  color: $button-text-color-1;

  font-size: 16px;

  border: none;
  background: none;
  background-color: $button-background-color-1;

  @include tablet {
    min-width: 248px;
    min-height: 45px;
    margin: 0 0 24px;

    color: $button-text-color-2;

    border: 1px solid $button-background-color-1;
    background-color: $button-background-color-2;
  }

  &:focus,
  &:hover {
    background-color: lighten($button-background-color-1, 20%);

    @include tablet {
      color: $button-text-color-1;

      background-color: $button-background-color-1;
    }
  }
}