.fly-tags {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: 1920px;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--top-section {
    bottom: auto;
    height: 390px;

    @include phone {
      bottom: 0;
      height: 100%;
    }
  }
}

.fly-tags__item {
  position: absolute;
}

/*----------------- Top Section -----------------*/

.fly-tags--top-section .fly-tags__item { 
  bottom: 0;
  right: 100px;
  opacity: 0;
  
  background: linear-gradient(to top right, $gradient-color-1, $gradient-color-2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-weight: bold;

  animation-fill-mode: forwards;
  will-change: transform;

  @include min-width(400px) {
    right: 120px;
  }
  
  @include min-width(500px) {
    right: 140px;
  }

  @include phone {
    right: 70px;
  }

  @include tablet {
    right: 120px;
  }

  @include min-width(1510px) {
    right: 30px;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(1) {
  line-height: 1.5;
  font-size: 25px;
  
  animation-name: fly-tag-1;
  animation-duration: 1s;
  animation-delay: 1s;
  
  @include min-width(400px) {
    animation-name: fly-tag-1--400;
  }
  @include min-width(480px) {
    animation-name: fly-tag-1--480;
  }
  @include phone {
    animation-name: fly-tag-1--phone;
  }
  @include tablet {
    font-size: 45px;
    animation-name: fly-tag-1--tablet;
  }
  @include tablet-ipad {
    animation-name: fly-tag-1--tablet-ipad;
  }
  @include min-width(1024px) {
    animation-name: fly-tag-1--1024;
  }
  @include desktop {
    animation-name: fly-tag-1--desktop;
  }
  @include min-width(1510px) {
    animation-name: fly-tag-1--1510;
  }
  @include min-width(1690px) {
    animation-name: fly-tag-1--1690;
  }
  @include min-width(1920px) {
    animation-name: fly-tag-1--1920;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(2) {
  font-size: 30px;

  animation-name: fly-tag-2;
  animation-duration: 1s;
  animation-delay: 1.5s;
  
  @include min-width(400px) {
    animation-name: fly-tag-2--400;
  }
  @include min-width(480px) {
    animation-name: fly-tag-2--480;
  }
  @include phone {
    animation-name: fly-tag-2--phone;
  }
  @include tablet {
    font-size: 53px;
    animation-name: fly-tag-2--tablet;
  }
  @include tablet-ipad {
    animation-name: fly-tag-2--tablet-ipad;
  }
  @include min-width(1024px) {
    animation-name: fly-tag-2--1024;
  }
  @include desktop {
    animation-name: fly-tag-2--desktop;
  }
  @include min-width(1510px) {
    animation-name: fly-tag-2--1510;
  }
  @include min-width(1690px) {
    animation-name: fly-tag-2--1690;
  }
  @include min-width(1920px) {
    animation-name: fly-tag-2--1920;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(3) {
  font-size: 15px;
  animation-name: fly-tag-3;
  animation-duration: 0.5s;
  animation-delay: 1.7s;
  
  @include min-width(400px) {
    animation-name: fly-tag-3--400;
  }
  @include min-width(480px) {
    animation-name: fly-tag-3--480;
  }
  @include phone {
    animation-name: fly-tag-3--phone;
  }
  @include tablet {
    font-size: 30px;
    animation-name: fly-tag-3--tablet;
  }
  @include tablet-ipad {
    animation-name: fly-tag-3--tablet-ipad;
  }
  @include desktop {
    animation-name: fly-tag-3--desktop;
  }
  @include min-width(1510px) {
    animation-name: fly-tag-3--1510;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(4) {
  font-size: 20px;
  animation-name: fly-tag-4;
  animation-duration: 0.7s;
  animation-delay: .8s;
  
  @include min-width(400px) {
    animation-name: fly-tag-4--400;
  }
  @include min-width(480px) {
    animation-name: fly-tag-4--480;
  }
  @include phone {
    animation-name: fly-tag-4--phone;
  }
  @include tablet {
    font-size: 38px;
    animation-name: fly-tag-4--tablet;
  }
  @include tablet-ipad {
    animation-name: fly-tag-4--tablet-ipad;
  }
  @include desktop {
    animation-name: fly-tag-4--desktop;
  }
  @include min-width(1510px) {
    animation-name: fly-tag-4--1510;
  }
  @include min-width(1690px) {
    animation-name: fly-tag-4--1690;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(5) {
  display: none;

  @include tablet-ipad {
    display: block;

    font-size: 36px;

    animation-name: fly-tag-5--tablet-ipad;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: jump-none, cubic-bezier(0,.95,1,.18);
  }
  
  @include desktop {
    animation-name: fly-tag-5--desktop;
  }
  @include min-width(1510px) {
    animation-name: fly-tag-5--1510;
  }
  @include min-width(1920px) {
    animation-name: fly-tag-5--1920;
  }
}

.fly-tags--top-section .fly-tags__item:nth-child(6) {
  display: none;
  
  @include tablet-ipad {
    display: block;

    font-size: 45px;
    
    animation-name: fly-tag-6--tablet-ipad;
    animation-duration: 0.7s;
    animation-delay: 1s;
  }

  @include desktop {
    display: none;
  }
}


/*----------------- Price Section -----------------*/

.fly-tags--price-section .fly-tags__item {
  color: $text-color-3;
}

.fly-tags--price-section .fly-tags__item:nth-child(1) {
  top: 23px;
  left: 156px;
  transform: rotate(28deg);
  
  font-size: 33px;
  
  @include desktop {
    top: 61px;
    left: 70px;
    font-size: 50px;
  }

  @include min-width(1510px) {
    top: 61px;
    left: 129px;
    font-size: 50px;
  }
}

.fly-tags--price-section .fly-tags__item:nth-child(2) {
  bottom: 33px;
  right: 453px;
  transform: rotate(20deg);
  
  font-size: 25px;
  
  @include desktop {
    bottom: 19px;
    right: 404px;
    font-size: 40px;
  }
}

.fly-tags--price-section .fly-tags__item:nth-child(3) {
  bottom: 35px;
  right: 94px;
  transform: rotate(-24deg);
  
  font-size: 40px;
  
  @include desktop {
    top: 77px;
    bottom: auto;
    right: 80px;
  }

  @include min-width(1510px) {
    top: 77px;
    right: 206px;
  }
}

.fly-tags--price-section .fly-tags__item:nth-child(4) {
  display: none;
  
  @include desktop {
    bottom: 53px;
    right: 107px;
    transform: rotate(-21deg);

    display: block;

    font-size: 50px;
  }
}

.fly-tags--price-section .fly-tags__item:nth-child(5) {
  display: none;

  @include desktop {
    bottom: 30px;
    left: 245px;
    transform: rotate(14deg);

    display: block;

    font-size: 55px;
  }

  @include min-width(1510px) {
    bottom: 56px;
    left: 245px;
  }
}