.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding-top: 19px;
  padding-bottom: 19px;

  background-color: $background-color-2;

  scroll-snap-align: start;

  @include tablet {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include min-max-width(1025px, 1210px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.header__phone {
  display: block;

  font-weight: 700;
  font-size: 18px;

  @include phone {
    margin-right: 30px;
    margin-left: auto;
  }

  @include tablet {
    font-size: 25px;
  }
}

.header__call-back-button {
  margin-right: 13px;

  @include tablet {
    margin-right: 40px;
  }

  @include min-width(1025px) {
    margin-right: 0;
  }
}