.menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu_header {
  display: none;
  flex-direction: column;
  align-items: center;

  padding-bottom: 19px;
  box-shadow: 0 50vh 0 50vh rgba(0, 0, 0, 0.1);

  @include min-width(1025px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 0;
    box-shadow: none;
  }
}

.menu_header.menu_open {
  display: flex;
  z-index: 1;
}

.menu_header .menu__item {
  &:not(:last-of-type) {
    margin-bottom: 10px;

    @include min-width(1025px) {
      margin-bottom: 0;
      margin-right: 35px;
    }
  }
}

.menu_footer .menu__item {

  @include tablet {
    font-size: 18px;
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
    margin-right: 0;

    @include tablet {
      margin-bottom: 13px;
    }
  }
}

.menu_footer .menu__link {
  color: inherit;

  &:hover {
    color: $link-hover;
  }
}