.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;

  @include tablet {
    width: 45px;
    height: 45px;
  }
}

.menu-button__icon {
  width: 24px;
  height: 18px;

  @include tablet {
    width: 45px;
    height: 32px;
  }
}

.menu-button__icon-symbol {
  stroke: url('#gradient-vertical');
}

.menu-button_open .menu-button__icon-symbol_close,
.menu-button__icon-symbol_menu {
  display: block;
}

.menu-button_open .menu-button__icon-symbol_menu,
.menu-button__icon-symbol_close {
  display: none;
}