.menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__item {
  &:not(:last-of-type) {
    margin-right: 35px;
  }
}

.menu_footer .menu__item {

  @include tablet {
    font-size: 18px;
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
    margin-right: 0;

    @include tablet {
      margin-bottom: 13px;
    }
  }
}

.menu_footer .menu__link {
  color: inherit;

  &:hover {
    color: $link-hover;
  }
}