.navigation {
  display: grid;
  row-gap: 20px;

  padding-top: 19px;

  background-color: $background-color-2;

  @include tablet {
    row-gap: 30px;

    padding-top: 30px;
  }

  @include min-width(1025px) {
    display: block;

    padding-top: 0;

    background-color: transparent;
  }
}

.navigation__menu-button{
  justify-self: start;
  margin-left: 12px;

  @include tablet {
    margin-left: 40px;
  }

  @include min-width(1025px) {
    display: none;
  }
}