.pagination {
  display: flex;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.pagination__list-item {

  &:not(:last-of-type) {
    margin-right: 15px;

    @include min-width(1024px) {
      margin-right: 29px;
    }
  }
}

.pagination__button {
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: #ebebeb;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  transition: 0.3s;

  @include min-width(1024px) {
    width: 18px;
    height: 18px;
  }

  &_active {
    background-color: #ff4e2e;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $link-hover;
  }
}