.slider {
  position: relative;
}

.slider__list {
  display: flex;
  justify-content: center;

  margin: 0 auto 41px;
  padding: 0;

  list-style: none;

  @include min-width(620px) {
    justify-content: space-between;

    width: 580px; /* 2 маленьких слайда */
  }

  @include min-width(1024px) {
    width: 948px; /* 2 средних слайда */
    margin: 0 auto 111px;
  }

  @include desktop {
    width: 1170px; /* 3 больших слайда */
    margin: 0 auto;
  }
}

.slider__list-item {
  display: none;
}

.slider__item {
  margin: 0 auto;
}

.slider__picture {
  display: block;
  width: 282px;
  height: 251px;
  margin-bottom: 17px;

  @include min-width(1024px) {
    width: 456px;
    height: 359px;
    margin-bottom: 32px;
  }
  
  @include desktop {
    width: 370px;
    height: 290px;
    margin-bottom: 49px;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center top;
}

.slider__description {
  font-weight: 500;
  font-size: 18px;

  text-align: center;

  @include min-width(1024px) {
    font-size: 25px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.slider__button {
  position: absolute;
  top: 119px;

  display: none;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  background-color: #fff;

  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);

  cursor: pointer;
  transition: 0.3s;

  @include desktop {
    display: flex;
  }

  &_prev {
    left: -30px;
  }

  &_next {
    right: -30px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 20px transparent, 0 0 0 2px $link-hover;
  }

  &:hover .slider__button-icon > path {
    stroke: url(#gradient-vertical);
  }
}

.slider__button-icon {
  width: 14px;
  height: 24px;
}

.slider__pagination {
  margin: 0;

  @include desktop {
    display: none;
  }
}


// todo: Вот это всё временно, пока не напишем нормальный слайдер
.slider__list-item:nth-of-type(1) {
  display: block;
}

@include min-width(620px) {
  .slider__list-item:nth-of-type(2) {
    display: block;
  }
}

@include min-width(1210px) {
  .slider__list-item:nth-of-type(3) {
    display: block;
  }
}