.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 55px;
  padding: 5px 25px;

  color: $button-text-color-1;

  background-color: $button-background-color-1;
  border: none;
  
  cursor: pointer;

  @include tablet-ipad {
    min-width: 320px;
    min-height: 68px;

    font-size: 18px;
  }

  @include desktop {
    min-width: 270px;
    min-height: 60px;
  }

  &:focus,
  &:hover {
    background-color: lighten($button-background-color-1, 10%);
  }
}