.call-back-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0; 

  border: none;
  background: none;

  cursor: pointer;

  @include tablet {
    width: auto;
    height: auto;
    min-width: 207px;
    min-height: 45px;
    padding: 5px 25px;

    color: $button-text-color-2;
    border: 1px solid $button-background-color-1;

    &:focus,
    &:hover {
      color: $button-text-color-1;
      background-color: $button-background-color-1;
    }
  }

  &__icon_mobile {
    width: 26px;
    height: 26px;

    @include tablet {
      display: none;
    }
  }

  &__text {
    
    &_tablet {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}