.call-back-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0; 

  border: none;
  background: none;

  cursor: pointer;

  @include tablet {
    width: auto;
    height: auto;
    min-width: 207px;
    min-height: 45px;
    padding: 5px 25px;

    color: #f53f4f;
    border: 1px solid #f82370;
  }

  &:focus,
  &:hover {
    color: #ffffff;
    background-color: #f53f4f;
  }

  &__icon_mobile {
    width: 26px;
    height: 26px;

    @include tablet {
      display: none;
    }
  }

  &__text {
    
    &_tablet {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}