.top-section {  
  background-color: $background-color-1;

  @include phone {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 547 525' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='gradient-vertical' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23fa0891' /%3E%3Cstop offset='1' stop-color='%23f26522' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23gradient-vertical)' d='M394.819 32.771C501.505-8.89 602.187-9.019 686.362 22.255c84.392 31.02 152.279 93.443 198.39 171.019 44.247 78.347 44.2 162.5 8.063 230.576-36.637 69.09-97.616 121.179-180.712 158.354-44.008 18.718-90.266 31.542-149.072 39.413-58.031 7.756-128.611 10.561-203.39 6.56C211.243 620.48 44.927 584.346 9.853 502.84c-19.876-40.472-7.4-86.865 17.312-133.552 25.117-46.756 62.47-93.806 101.688-137.165 39.624-43.428 81.113-83.165 123.827-116.864 43.12-33.768 87.464-61.5 142.139-82.489z'/%3E%3C/svg%3E");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 300px;
    background-color: $background-color-2;
  }

  @include tablet {
    padding-top: 27px;
  }

  @include tablet-ipad {
    background-size: auto 525px;
  }

  @include desktop {
    padding-top: 26px;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 814 630' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='gradient-vertical' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23fa0891' /%3E%3Cstop offset='1' stop-color='%23f26522' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23gradient-vertical)' d='M395.52 40.407C502.261-10.05 602.994-10.204 687.212 27.67c84.435 37.567 152.356 113.165 198.491 207.114 44.27 94.884 44.223 196.799 8.068 279.242-36.656 83.673-97.666 146.755-180.805 191.777-44.03 22.669-90.312 38.198-149.148 47.731-58.06 9.394-128.676 12.79-203.493 7.944-148.474-9.32-314.876-53.081-349.967-151.79-19.887-49.012-7.404-105.197 17.32-161.739 25.13-56.624 62.503-113.604 101.74-166.115 39.645-52.593 81.155-100.717 123.891-141.53C296.45 99.41 340.817 65.828 395.52 40.408z'/%3E%3C/svg%3E");
    background-size: auto 630px;
  }

  &__container {
    display: grid;
    grid-template-areas:  "photo"
                          "heading"
                          "button";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    @include phone {
      grid-template-areas:  "heading photo"
                            "button photo";
      grid-template-columns: minmax(280px, max-content) minmax(max-content, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    @include tablet-ipad {
      grid-template-rows: repeat(2, 1fr);
    }

    @include min-max-width(560px, 767px) {
      margin: 0 20px;
    }
  
    @include min-max-width(768px, 1024px) {
      margin: 0 40px;
    }
  
    @include min-max-width(1025px, 1210px) {
      margin: 0 20px;
    }
  }

  &__photo {
    grid-area: photo;
    justify-self: end;

    width: 100%;
    padding-top: 56px;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 814 630' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient id='gradient-vertical' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23fa0891' /%3E%3Cstop offset='1' stop-color='%23f26522' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23gradient-vertical)' d='M395.52 40.407C502.261-10.05 602.994-10.204 687.212 27.67c84.435 37.567 152.356 113.165 198.491 207.114 44.27 94.884 44.223 196.799 8.068 279.242-36.656 83.673-97.666 146.755-180.805 191.777-44.03 22.669-90.312 38.198-149.148 47.731-58.06 9.394-128.676 12.79-203.493 7.944-148.474-9.32-314.876-53.081-349.967-151.79-19.887-49.012-7.404-105.197 17.32-161.739 25.13-56.624 62.503-113.604 101.74-166.115 39.645-52.593 81.155-100.717 123.891-141.53C296.45 99.41 340.817 65.828 395.52 40.408z'/%3E%3C/svg%3E");
    background-position: bottom -40px right -44px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: $background-color-2;

    @include phone {
      width: auto;
      padding-top: 0;

      background: none;
    }

    @include desktop {
      filter: drop-shadow(30px 0 30px rgba(0, 0, 0, 0.25));
    }

    @include min-width(1510px) {
      margin-right: -82px;
    }
  }

  &__image {
    display: block;
    margin: 0 20px 0 auto;

    @include min-width(400px) {
      margin: 0 40px 0 auto;
    }
    
    @include min-width(500px) {
      margin: 0 60px 0 auto;
    }

    @include phone {
      margin: 0;
    }
  }

  &__title {
    grid-area: heading;

    margin: 14px auto 30px;
    padding: 0 20px;

    font-weight: 900;
    font-size: 30px;
    color: $text-color-1;

    text-align: center;

    @include phone {
      align-self: end;
      justify-self: start;
    }

    @include tablet-ipad {
      margin: 0 0 26px;
      padding: 0;

      font-size: 54px;

      text-align: start;
    }

    @include desktop {
      margin: 0 0 24px;

      font-size: 80px;
    }
  }

  &__subtitle {
    display: block;
    margin-top: 13px;

    font-weight: 400;
    font-size: 16px;
    color: $text-color-2;

    text-align: center;

    @include phone {
      margin-top: 24px;
    }

    @include tablet-ipad {
      font-size: 25px;

      text-align: start;
    }

    @include desktop {
      margin-top: 19px;
    }
  }

  &__button {
    grid-area: button;

    margin: 0 auto;

    @include phone {
      align-self: start;
      justify-self: start;
    }

    @include tablet-ipad {
      margin: 21px 0 0;
    }

    @include desktop {
      margin: 22px 0 0;
    }
  }

  &__fly-tags {
    display: none;
  }
}