$phone: 560px;
$tablet: 768px;
$tablet-ipad: 960px;
$desktop: 1210px;

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-ipad {
  @media (min-width: #{$tablet-ipad}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin min-width($min-width) {
  @media (min-width: #{$min-width}) {
    @content;
  }
}

@mixin min-max-width($min-width, $max-width) {
  @media (min-width: #{$min-width}) and (max-width: #{$max-width}) {
    @content;
  }
}

@mixin retina {
  @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (min--moz-device-pixel-ratio: 1.5),
          only screen and (-o-device-pixel-ratio: 3/2), 
          only screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}