$background-color-1: #fff;
$background-color-2: #fbfbfb;
$background-color-3: #31293c;

$text-color-1: #1f1f24;
$text-color-2: #8993ad;
$text-color-3: #fff;

$link-hover: #fc557c;

$button-text-color-1: #fff;
$button-text-color-2: #f53f4f;
$button-background-color-1: #ff4e2e;
$button-background-color-2: #fff;

$gradient-color-1: #ff2f96;
$gradient-color-2: #ff8f5a;

